* {
  box-sizing: border-box;
}

html {
  font-family: 'Maven Pro', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px;
  height: 50px;
  border-bottom: 1 px solid black;
}

#PLtop {
  font-size: 16px;
  margin: 10px;

}

.dropbtn {
  background-color: #4CAF50
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
  color: black;
  padding: 12px 40px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover { background-color: #ddd; }

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {background-color: #3e8e41; }

.buttonHeader {
  float: right;
  margin-left: 20px;
  padding: 10px 20px;
}



/* End of header */


.ProductBox {
  overflow: hidden;
  float: left;
  display: block;
  width: 23%;
  height: 33%;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
}
